#main { 
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
#sidebar    {
    width: 200px;
    height: 400px;
    background: red;
    float: left;
}

#page-wrap  {
    width: 600px;
    background: #ffffff;
    height: 400px;
    float: right;
}