 .categories ul#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }

 .categories ul#menu li.display{
    float: left;
 }

 .categories ul#menu li:hover, ul#menu li.selected{
    background-color: #111;
}

.categories li.display a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#searchBox{
    margin: auto;
    width: 60%;
    padding: 30px;
}

.search{
    background-color: white;
    font-style: sans-serif;
    color: black;
}

#searchBox{
    margin: auto;
    width: 45%;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: black;
}

.contaier2 div#searchBox{
    position: absolute;
    bottom: 0;
}
#searchBox i{
text-align: right;
}
#Cart{
    padding-right: 50px;
}

#Cart i{
    margin: auto;
    width: 45%;
    padding: 10px;
}