h2#logo a{

   font: 100 1.2px 'Merienda One', Helvetica, sans-serif;
   color: white;

}
h2 a span{
      margin-left: 1em;
}

ul{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

li {
  cursor: pointer; cursor: hand;
}
 .categories ul#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }

 .categories ul#menu li.display{
    float: left;

 }

 .categories ul#menu li:hover, ul#menu li.selected{
    background-color: #111;
}

.categories li.display a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#Cart{
    padding-right: 50px;
}

#Cart i{
    margin: auto;
    width: 45%;
    padding: 10px;
}

#searchcomponent{
    margin:auto;
    width: 40%;
    padding: 10px;
}

.sear{
    text-align: right;
    float:right;
    padding-right: 50px;
    padding-top: 13px;


}
#searchbox{
  margin-left: 150px;width:300px;height: 50px;
}
#searchRealBox{
  width: 250px;
}
#searchTab{
    border-left: 3px solid white;
}
