 .categories ul#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }

 .categories ul#menu li.display{
    float: left;
    border-right: 1px solid #bbb;
 }

 .categories ul#menu li:hover, ul#menu li.selected{
    background-color: #111;
}

.categories li.display a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#Cart{
    padding-right: 50px;
}

#Cart i{
    margin: auto;
    width: 45%;
    padding: 10px;
}

#searchcomponent{
    margin:auto;
    width: 40%;
    padding: 10px;
}

.sear{
    text-align: right;
    float:right;
    padding-right: 50px;
    padding-top: 13px;
    color: white;
    
}
#searchTab{
    border-left: 3px solid white;    
}
