@import "https://fonts.googleapis.com/icon?family=Material+Icons";

#Img{
    height:50px;
    width:50px;
}
#ImgDiv{
    position: absolute;
    right: 0px;
    width: 100px;
    padding: 20px;
}
.loader{
	text-align: center;
}