<!--
<div class="fondo">
  <div id="relleno"></div>
  <div id="background3" >
    <div  class="productD">
      <h4>Insert a Product</h4>
    </div>
    <div>
      <form name="userForm" >
        <fieldset>
       <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Product Name:</label>
            <input md-input  ngControl="loginUsername" required #U>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
           <label>State</label>
           <select >
             <option *ngFor="#state of states" [value]="state.abbrev">
               {{state.abbrev}}
             </option>
           </select>
         </md-input-container>
        </div>
        <span class="login">
        <button md-raised-button class="md-raised md-primary" type="submit" [disabled]="!loginForm.form.valid">Submit</button>
        </span>
        </fieldset>
      </form>
    </div>
  </div>
</div>
-->
<div class="fondo">
  <div id="relleno"></div>
  <div id="background3" >
    <div  class="productD">
      <h4>Insert a Product</h4>
    </div>
    <div>
  <form name="usrForm" #insertForm="ngForm" (ngSubmit)="insertAttempt(P.value,C.value,PD.value,PQ.value,PSN.value)">
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Product Name</label>
        <input md-input ngControl="Productname" required #P>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
            <label>Category</label>
            <select ngControl="Productcategory" required #C>
              <option *ngFor="#state of states" [value]="state.abbrev" >
                {{state.abbrev}}
              </option>
            </select>
          </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Product Description</label>
        <input md-input ngControl="Productdescription" required #PD>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Quantity</label>
        <input md-input ngControl="ProductQuantity" required #PQ>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Store Name</label>
        <input md-input ngControl="ProductStore" required #PSN>
      </md-input-container>
    </div>
    <span class="login">
    <button md-raised-button class="md-raised md-primary" type="submit" [disabled]="!insertForm.form.valid">Submit</button>
    </span>
  </form>
  </div>
</div>
<div class="fondo">
  <div id="relleno"></div>
  <div id="background3" >
    <div  class="productD">
      <h4>Update a Product</h4>
      <div *ngIf="selectedproduct">
      <form (submit)="saveProduct(selectedproduct)">
      <span id="namee">
        <label >Name: </label>
       </span>
        <input [(ngModel)]="selectedproduct.name" >
        <br>
      <label>Description: </label>
      <input [(ngModel)]="selectedproduct.description"  ><br>
      <label>Quantity: </label>
      <input [(ngModel)]="selectedproduct.quantity"  ><br>
      <label>Img: </label>
      <input [(ngModel)]="selectedproduct.img"><br>
      <label>category: </label>
      <input [(ngModel)]="selectedproduct.category"  ><br>
      <label>store name: </label>
      <input [(ngModel)]="selectedproduct.storeName" ><br>
       <button md-raised-button class="md-raised md-primary" type="submit">Update</button>
       </form>
       <button md-raised-button class="md-raised md-primary" (click)="onRemove(selectedproduct)">Remove</button>
      </div>
    </div>
    <div id="productHolder">
       <div *ngFor="#product of products" (click)="onSelect(product)"><label >{{product.name}}</label></div>
    </div>
  </div>
</div>
